---
import IntroAnimation from '../components/IntroAnimation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hamar Chinhari Welfare Society</title>
	</head>
	<body class="bg-[#111] m-0 p-0 overflow-hidden">
		<!-- This loads your entire GSAP SVG animation -->
		<IntroAnimation />
	</body>
</html>
